body {
    background: #2C183D url("") no-repeat scroll 0 0;
    font-family: Georgia, serif;
    font-size: 21px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #A0FF00;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: none;
    text-transform: none;
    border: ;
    text-align: center;
    padding: 3%;
    background: #2C183D url("https://upload.wikimedia.org/wikipedia/commons/7/72/Hexagon_Tiling.svg") repeat fixed 0 0;
}
div {
    background-color: #2C183D ;
    text-align: center;
    box-sizing: content-box;
    padding-bottom: 1%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;    

}
.description {
    -webkit-box-shadow: 3px 5px 13px 4px rgba(0,0,0,0.67); 
    box-shadow: 3px 5px 13px 4px rgba(0,0,0,0.67);
    border: 1px solid #A0FF00;
}
#top {
    font-size: 48px;
    text-decoration: underline;
    position: relative;
    float: left;
    margin-left: 5%;
}
#intro {
    margin-top: 5%;
    position: relative;
    float: left;
    margin-left: -10%;
}

#bio {
    font-size: 18px;
    text-align: left;
    position: relative;
    float: left;
    margin-left: 2%;
    margin-top: 5%;
    margin-right: 40%;
}

    .linkButton {
        color: rgb(194, 255, 0); 
        font-size: 20px; 
        line-height: 20px; 
        padding: 6px; 
        border-radius: 7px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        background-image: linear-gradient(rgb(97, 10, 164) 0%, rgb(161, 13, 203) 12%, rgb(47, 12, 117) 100%); 
        border: 2px solid rgb(28, 110, 164); 
        display: inline-block;
        width: 98%;
        margin-left: 0px;
       
    }
        .linkButton:hover {
        background: #610AA4;
        bottom: 12px; 
        transform: translateX(6px);
        transition: transform 0.5s ease;}
        .linkButton:active {
        background: #2F0C75;
    
     }


        .side {
            border: 2px solid #A0FF00;
            position: relative;
            width: 150px;
            height: fit-content;
            display: inline-block;
            
        }
        #left-side {
            float: left;
        }
        #right-side {
            float: right;
        }